# ---------- Runtime user data ----------
Data/Profiles/**
Data/Debug/**

# Keep empty folders
!Data/Profiles/.gitkeep
!Data/Debug/.gitkeep
# ---------- IDE ----------
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# PyInstaller
build/
dist/
*.spec

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db
